@using WebApplicationMVC.EntitiFramework.Entities
@model User

<h2>Создать пользователя</h2>

<div>
    @Html.ValidationSummary(true)
    @using (Html.BeginForm())
    {
        <div>
            @Html.LabelFor(model => model.Name)
            <p>@Html.TextAreaFor(model => model.Name, 3, 50, new { style = "width:400px;" })</p>
            @Html.ValidationMessageFor(m => m.Name)
        </div>

        <div>
            @Html.LabelFor(model => model.Age)
            <p>@Html.EditorFor(model => model.Age)</p>
            @Html.ValidationMessageFor(m => m.Age)
        </div>

        <p><input type="submit" name="name" value="Добавить" /></p>
    }
</div>